# =========================
# Python
# =========================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env
*.env

# =========================
# Node / React Native
# =========================
node_modules/

# Expo
.expo/

# npm
npm-debug.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build
# =========================
dist/
build/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
tree.txt